{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div align="center">
  <form method="post" action="/register" >
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required> <br>
    <input type="submit" value="Register" hx-target="#output" hx-swap="innerHTML">
  </form>
  </div>
{% endblock %}
<div align="center">
<span class="button" id="login" hx-get="/navButton"  hx-target="#output" hx-swap="innerHTML">Login Instead</span>
</div>
