<div class="shop-container">
  <div class="gallery">
    <!-- <div class="grid-container"> -->
    {% for img in images %}
    <div class="product-card" >
      <img src="{{url_for('static',filename='images/' + img )}}" />
      <div class="product-info">
        <h3>{{ img }}</h3>
        <p>NRs 10</p>
        <button
            hx-post="/add_to_cart"
            hx-swap="none"
            hx-vals='{"product":"{{ img }}"}'>
            Add to Cart
        </button>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
